.App {
  text-align: center;
  padding-top: 36px;
}

.searchForm{
  display: flex;
  justify-content: center;
}

.moviesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 16px;
}

.moviesList-item{
  margin-bottom: 24px;
  width: 40%;
}